* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

.result-section {
  width: 100vw;
  height: 45vh;
  background-color: rgba(211, 169, 63, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-box {
  display: flex;
  flex-direction: column;
}

input {
  height: 7vh;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(110, 105, 105);
  border-radius: 8px;
  outline: none;
}

input:focus {
  border: 2px solid rgb(110, 105, 105);
}

input[type="text"] {
  width: 25vw;
}

input[type="number"] {
  width: 9vw;
}

select {
  width: 4vw;
  padding: 0.8rem;
  border: 1px solid rgb(110, 105, 105);
  border-radius: 8px;
  outline: none;
}

select:focus {
  border: 2px solid rgb(110, 105, 105);
}

button {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(110, 105, 105);
  border-radius: 8px;
}

.input-section {
  width: 100vw;
  height: 10vh;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-section {
  display: flex;
  gap: 1.6vw;
  align-items: center;
}

.changes-section {
  width: 100vw;
  height: 45vh;
  background-color: rgba(88, 160, 160, 0.548);
}
